@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$font-headers: 'DM Serif Display', serif;
$font-body: 'Karla', sans-serif;

$dark-violet: hsl(256, 26%, 20%);
$off-white: hsl(0, 0%, 98%);
$grey-blue: hsl(216, 30%, 68%);
$grey: hsl(0, 0%, 98%);

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-size: 16px;
    font-family: $font-body;
    line-height: 2rem;
    position: relative;
    h1, h2, h3 {
            line-height: 3.5rem;
        }
}

header{
    height: 4rem;
    width: 100%;
    background-color: white;
    justify-content: center;
    position: fixed;
    z-index: 15;
    .logo{
        position: absolute;
        top: 1.5rem;
        left: 8rem;
    }
    button.burger{
        display: none;
    }
    nav.menu{
        width: 100%;
        height: 100%;
        position: absolute;
        padding-left: 8rem;
        padding-right: 8rem;
        align-items: center;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        ul{
            li{
                padding-right: 2rem;
                a{
                    text-decoration: none;
                }
                a:link{
                    color: $dark-violet;
                }
            }
        }
        .plans-button{
            border: 2px solid $dark-violet;
            width: 8rem;
            height: 2rem;
            background-color: transparent;
            cursor: pointer;
        }
        .plans-button:hover{
            background-color: $dark-violet;
            color: $off-white;
        }
    }
}

ul{ 
    display: flex;
    li{
    list-style: none;
    }
}

section.intro{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    padding: 0;
    background-color: $dark-violet;
    color: $off-white;
    position: relative;
    .intro-svgs{
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 5;
        img.intro-left{
            position: absolute;
            top: 25rem;
            width: auto;
            max-width: 15rem;
            color: $grey;
            margin: auto;
        }
        img.intro-right{
            position: absolute;
            right: 0rem;
            width: auto;
            color: $grey;
            margin: auto;
        }
    }
    button{
        border: 2px solid $off-white;
        color: $off-white;
        width: 8rem;
        height: 2.5rem;
        background-color: transparent;
    }
    button:hover{
        background-color: $off-white;
        color: $dark-violet;
        cursor: pointer;
    }
    img.family-image{
        height: 90%;
        width: auto;
        transform: translateY(12rem);
        margin: auto;
    }
}

.intro-text{
    width: 36rem;
    margin: auto;
    h1{
        font-size: 4rem;
        font-family: $font-headers;
        font-weight: 400;
    }
}

section.process-details{
    width: 80%;
    padding-top: 10rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    .details-title{
        font-family: $font-headers;
        font-weight: 400;
        font-size: 2.5rem;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    h3{
        font-family: $font-headers;
        font-weight: 400;
        font-size: 1.5rem;
    }
    ul{
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        li{
            padding: 1rem;
            p{
                max-width: 18rem;
                line-height: 1.5rem;
                color: $grey-blue;
            }
        }
    }
    .banner{
        background-color: $dark-violet;
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 10rem;
        width: 95%;
        overflow: hidden;
        img.banner-deco{
            position: absolute;
            z-index: 4;
        }
        h2{
            font-family: $font-headers;
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 2.75rem;
            color: $off-white;
            max-width: 26.5rem;
            justify-self: center;
            align-self: center;
        }
        button{
            height: 2.5rem;
            width: 9rem;
            margin: auto;
            color: $off-white;
            border: 1px solid $off-white;
            background-color: transparent;
        }
        button:hover{
            background-color: $off-white;
            color: $dark-violet;
            cursor: pointer;
        }
    }
}

footer{
    background-color: $grey;
    display: block;
    width: 100%;
    img.footer-bg{
        position: absolute;
        width: auto;
        overflow: hidden;
    }
    a{
        text-decoration: none;
        color: $grey-blue;
    }
    .footer-header{
        width: 80%;
        height: 5rem;
        margin: auto;
        align-items: center;
        display: grid;
        grid-template-columns: 50% 50%;
        a.footer-logo{
            margin-right: 1rem;
            justify-self: start;
        }
        .social-icons{
            width: max-content;
            height: max-content;
            justify-self: right;
            a{
                width: max-content;
                height: max-content;
                margin-right: 2rem;
            }
        }
    }
    hr{
        width: 80%;
        margin: auto;
        color: $grey;
    }
    ul.footer-nav{
        margin-right: auto;
        padding: 4rem;
        width: auto;
        max-width: 70%;
        font-family: $font-body;
        font-weight: 600;
        font-size: 1rem;
        justify-content: space-between;
        text-align: left;
        line-height: 1.5rem;
        li{
            padding-left: 5rem;
            a.list-title{
                color: $grey-blue;
                text-align: left;
            }
            ul{
                flex-direction: column;
                li{
                    padding-left: 0rem;
                    a{
                        color: $dark-violet;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px)
    and (max-width: 425px){

    body{
        h1, h2, h3, h4, p{
            max-width: 18rem;
            text-align: center;
            margin: auto;
        }
    }

    header{
        justify-content: space-between;
        position: absolutes;
        .logo{
            left: 1rem;
        }
        button.burger{
            display: block;
            margin-left: auto;
            align-self: center;
            width: max-content;
            height: max-content;
            border: none;
            color: black;
            background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#FFF" stroke="#2C2830" stroke-width="1.5" d="M.75.75h30.5v30.5H.75z"/><g fill="#2C2830"><path d="M8 10h16v1.5H8zM8 15h16v1.5H8zM8 20h16v1.5H8z"/></g></g></svg>');
            background-size: cover;
        }
        nav.menu{
            position: absolute;
            flex-direction: column;
            display: none;
            background-image: url("/assets/images/bg-pattern-mobile-nav.svg");
            ul{
                display: flex;
                flex-direction: column;
            }
            button{
                margin-right: auto;
            }
        }
    }
    
    section.intro{
        padding-top: 3.5rem;
        width: 100%;
        grid-template-columns: 100%;
        .intro-text{
            width: 100%;
            padding-top: 10vh;
            padding-bottom: 10vh;
            h1{
                font-size: 2.5rem;
            }
        }
        img.family-image{
            height: auto;
            width: 100%;
            grid-row: 1;
            transform: translate(0,0);
        }
        button{
            margin: auto;
            display: block;
        }
    }

    section.process-details{
        padding-top: 3rem;
        text-align: center;
        width: 100%;
        ul{
            flex-direction: column;
        }
        .banner{
            grid-template-columns: 100%;
            flex-direction: column;
            width: 100%;
            height: max-content;
            padding-top: 3rem;
            padding-bottom: 3rem;
            h2{
                font-size: 2rem;
                max-width: 16rem;
                line-height: 2.5rem;
                padding-bottom: 2rem;
            }
        }
    }
    footer{
        .footer-bg{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .footer-header{
            padding-top: 5rem;
            grid-template-columns: 100%;
            height: 10rem;
        }
        ul.footer-nav{
            margin: auto;
            width: 85%;
            max-width: 100%;
            flex-direction: column;
            align-items: center;
            line-height: 2rem;
            li{
                margin: auto;
                text-align: center;
                padding-left: 0rem;
                a.list-title{
                    padding-bottom: 2rem;
                }
                ul{
                    text-align: center;
                }
            }
        }
    }
}