@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
* {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  line-height: 2rem;
  position: relative;
}

body h1, body h2, body h3 {
  line-height: 3.5rem;
}

header {
  height: 4rem;
  width: 100%;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 15;
}

header .logo {
  position: absolute;
  top: 1.5rem;
  left: 8rem;
}

header button.burger {
  display: none;
}

header nav.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-right: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav.menu ul li {
  padding-right: 2rem;
}

header nav.menu ul li a {
  text-decoration: none;
}

header nav.menu ul li a:link {
  color: #2d2640;
}

header nav.menu .plans-button {
  border: 2px solid #2d2640;
  width: 8rem;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
}

header nav.menu .plans-button:hover {
  background-color: #2d2640;
  color: #fafafa;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul li {
  list-style: none;
}

section.intro {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin: auto;
  padding: 4rem 0 0 0;
  background-color: #2d2640;
  color: #fafafa;
  position: relative;
}

section.intro .intro-svgs {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

section.intro .intro-svgs img.intro-left {
  position: absolute;
  top: 25rem;
  width: auto;
  max-width: 15rem;
  color: #fafafa;
  margin: auto;
}

section.intro .intro-svgs img.intro-right {
  position: absolute;
  right: 0rem;
  width: auto;
  color: #fafafa;
  margin: auto;
}

section.intro .intro-text {
  width: 36rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
  margin: auto 1rem auto auto;
}

section.intro .intro-text h1 {
  font-size: 4rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

section.intro .intro-text p {
  margin: 2rem auto 2rem auto;
}

section.intro .intro-text button {
  border: 2px solid #fafafa;
  color: #fafafa;
  width: 8rem;
  height: 2.5rem;
  background-color: transparent;
}

section.intro .intro-text button:hover {
  background-color: #fafafa;
  color: #2d2640;
  cursor: pointer;
}

section.intro img.family-image {
  height: 100%;
  width: auto;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  margin: auto;
}

section.process-details {
  width: 75%;
  padding-top: 10rem;
  height: 105vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

section.process-details .details-title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 3.5rem;
  margin-right: auto;
  margin-top: auto;
}

section.process-details ul {
  margin: auto;
  width: 100%;
}

section.process-details ul li {
  padding: 1.5rem;
  width: 100%;
}

section.process-details ul li h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1rem auto 1rem auto;
}

section.process-details ul li p {
  line-height: 1.5rem;
  color: #95a9c6;
}

section.process-details .banner {
  background-color: #2d2640;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  height: 10rem;
  width: 100%;
  margin-bottom: auto;
  overflow: hidden;
  background-image: url(../assets/images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
}

section.process-details .banner h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.75rem;
  color: #fafafa;
  max-width: 26.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.process-details .banner button {
  height: 2.5rem;
  width: 9rem;
  margin: auto;
  color: #fafafa;
  border: 1px solid #fafafa;
  background-color: transparent;
}

section.process-details .banner button:hover {
  background-color: #fafafa;
  color: #2d2640;
  cursor: pointer;
}

footer {
  background-color: #fafafa;
  display: block;
  width: 100%;
}

footer img.footer-bg {
  position: absolute;
  width: auto;
  overflow: hidden;
}

footer a {
  text-decoration: none;
  color: #95a9c6;
}

footer .footer-header {
  width: 75%;
  height: 7rem;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

footer .footer-header a.footer-logo {
  margin-right: auto;
  -ms-grid-column-align: left;
      justify-self: left;
}

footer .footer-header .social-icons {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-grid-column-align: right;
      justify-self: right;
}

footer .footer-header .social-icons a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto 0.5rem;
}

footer hr {
  width: 75%;
  margin: auto;
  color: #fafafa;
}

footer ul.footer-nav {
  margin: auto;
  padding: 5rem 15rem 5rem 0;
  width: auto;
  max-width: 75%;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  line-height: 1.5rem;
}

footer ul.footer-nav li a.list-title {
  color: #95a9c6;
  text-align: left;
}

footer ul.footer-nav li ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul.footer-nav li ul li {
  padding-left: 0rem;
}

footer ul.footer-nav li ul li a {
  color: #2d2640;
}

@media screen and (min-width: 319px) and (max-width: 425px) {
  body h1, body h2, body h3, body h4, body p {
    max-width: 18rem;
    text-align: center;
    margin: auto;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolutes;
  }
  header .logo {
    left: 1rem;
  }
  header button.burger {
    display: block;
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border: none;
    color: black;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#FFF" stroke="#2C2830" stroke-width="1.5" d="M.75.75h30.5v30.5H.75z"/><g fill="#2C2830"><path d="M8 10h16v1.5H8zM8 15h16v1.5H8zM8 20h16v1.5H8z"/></g></g></svg>');
    background-size: cover;
  }
  header nav.menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
    background-image: url("/assets/images/bg-pattern-mobile-nav.svg");
  }
  header nav.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav.menu button {
    margin-right: auto;
  }
  section.intro {
    padding-top: 4rem;
    width: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  section.intro .intro-text {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  section.intro .intro-text h1 {
    font-size: 2.5rem;
  }
  section.intro img.family-image {
    width: 100%;
    -ms-grid-row: 1;
    grid-row: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  section.intro button {
    margin: auto;
    display: block;
  }
  section.process-details {
    padding-top: 10rem;
    text-align: center;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  section.process-details ul {
    margin: 4rem auto 4rem auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.process-details .banner {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url(../assets/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  section.process-details .banner h2 {
    font-size: 2rem;
    max-width: 16rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
  }
  footer .footer-bg {
    width: 100%;
  }
  footer .footer-bg img {
    width: 100%;
  }
  footer .footer-header {
    padding-top: 5rem;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    height: 12rem;
  }
  footer .footer-header a.footer-logo {
    margin: auto;
  }
  footer .footer-header .social-icons {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  footer .footer-header .social-icons a img {
    margin: 1rem auto 1rem auto;
  }
  footer ul.footer-nav {
    margin: auto;
    width: 100%;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2rem;
    font-weight: 600;
    padding: 3rem 0 3rem 0;
  }
  footer ul.footer-nav li {
    margin: auto;
    text-align: center;
    padding-left: 0rem;
  }
  footer ul.footer-nav li a.list-title {
    padding-bottom: 2rem;
  }
  footer ul.footer-nav li ul {
    text-align: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 725px) {
  body h1, body h2, body h3, body h4, body p {
    max-width: 18rem;
    text-align: center;
    margin: auto;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolutes;
  }
  header .logo {
    left: 1rem;
  }
  header button.burger {
    display: block;
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border: none;
    color: black;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#FFF" stroke="#2C2830" stroke-width="1.5" d="M.75.75h30.5v30.5H.75z"/><g fill="#2C2830"><path d="M8 10h16v1.5H8zM8 15h16v1.5H8zM8 20h16v1.5H8z"/></g></g></svg>');
    background-size: cover;
  }
  header nav.menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
    background-image: url("../assets/images/bg-pattern-mobile-nav.svg") ul;
    background-image-display: flex;
    background-image-flex-direction: column;
  }
  header nav.menu button {
    margin-right: auto;
  }
  section.intro {
    padding-top: 4rem;
    width: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  section.intro .intro-text {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  section.intro .intro-text h1 {
    font-size: 2.5rem;
  }
  section.intro img.family-image {
    height: auto;
    width: 100%;
    -ms-grid-row: 1;
    grid-row: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  section.intro button {
    margin: auto;
    display: block;
  }
  section.process-details {
    padding-top: 3rem;
    text-align: center;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  section.process-details ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.process-details .banner {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  section.process-details .banner img.banner-deco {
    height: 100%;
  }
  section.process-details .banner h2 {
    font-size: 2rem;
    max-width: 16rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
  }
  footer .footer-bg {
    width: 100%;
  }
  footer .footer-bg img {
    width: 100%;
  }
  footer .footer-header {
    padding-top: 5rem;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    height: 10rem;
  }
  footer .footer-header a.footer-logo {
    margin: auto;
  }
  footer ul.footer-nav {
    margin: auto;
    width: 85%;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2rem;
    font-weight: 600;
    padding: 3rem 0 3rem 0;
  }
  footer ul.footer-nav li {
    margin: auto;
    text-align: center;
    padding-left: 0rem;
  }
  footer ul.footer-nav li a.list-title {
    padding-bottom: 2rem;
  }
  footer ul.footer-nav li ul {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */