@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$font-headers: 'DM Serif Display', serif;
$font-body: 'Karla', sans-serif;

$dark-violet: hsl(270, 9%, 17%);
$violet: hsl(256, 26%, 20%);
$grey-violet: hsl(273, 4%, 51%);
$grey-blue: hsl(216, 30%, 68%);
$off-white: hsl(0, 0%, 98%);

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-size: 16px;
    font-family: $font-body;
    line-height: 2rem;
    position: relative;
    h1, h2, h3 {
            line-height: 3.5rem;
        }
}

header{
    height: 4rem;
    width: 100%;
    background-color: white;
    justify-content: center;
    position: fixed;
    z-index: 15;
    .logo{
        position: fixed;
        top: 1.5rem;
        left: 8rem;
    }
    button.burger{
        display: none;
    }
    .menu{
        width: 100%;
        position: fixed;
        top: 1rem;
        right: 10rem;
        align-items: center;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        ul{
            li{
                padding-right: 2rem;
                a{
                    text-decoration: none;
                    color: $grey-violet;
                }
                a:link{
                    color: $grey-violet;
                }
                a:hover{
                    color: $grey-violet;
                }
            }
        }
        .plans-button{
            border: 2px solid $dark-violet;
            width: 8rem;
            height: 2rem;
            background-color: transparent;
            cursor: pointer;
        }
        .plans-button:hover{
            background-color: $dark-violet;
            color: $off-white;
        }
    }
}

ul{ 
    display: flex;
    li{
    list-style: none;
    }
}

section.intro{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    padding: 4rem 0 0 0;
    background-color: $violet;
    color: $off-white;
    position: relative;
    .intro-svgs{
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 5;
        .intro-left{
            position: absolute;
            padding: 35rem 0;
            width: auto;
            max-width: 15rem;
            color: $off-white;
            margin: auto;
        }
        .intro-right{
            position: absolute;
            right: 0rem;
            width: auto;
            color: $off-white;
            margin: auto;
        }
    }
    .intro-text{
        width: 36rem;
        height: max-content;
        align-self: center;
        justify-self: right;
        margin: auto 1rem auto auto;
        h1{
            font-size: 4rem;
            font-family: $font-headers;
            font-weight: 400;
        }
        p{
            margin: 2rem auto 2rem auto;
        }
        button{
            border: 2px solid $off-white;
            color: $off-white;
            width: 8rem;
            height: 2.5rem;
            background-color: transparent;
        }
        button:hover{
            background-color: $off-white;
            color: $dark-violet;
            cursor: pointer;
        }
    }
    img.family-image{
        height: 100%;
        width: auto;
        transform: translateY(10rem);
        margin: auto;
    }
}



section.process-details{
    width: 75%;
    padding-top: 10rem;
    height: 105vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    .details-title{
        font-family: $font-headers;
        font-weight: 400;
        font-size: 3.5rem;
        margin-right: auto;
        margin-top: auto;
    }
    ul{
        margin: auto;
        width: 100%;
        li{
            padding: 1.5rem;
            width: 100%;
            h3{
                font-family: $font-headers;
                font-weight: 400;
                font-size: 1.5rem;
                margin: 1rem auto 1rem auto;
            }
            p{
                line-height: 1.5rem;
                color: $grey-blue;
            }
        }
    }
    .banner{
        background-color: $violet;
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 10rem;
        width: 100%;
        margin-bottom: auto;
        overflow: hidden;
        background-image: url(../assets/images/bg-pattern-how-we-work-desktop.svg);
        background-repeat: no-repeat;
        background-position: right;
        h2{
            font-family: $font-headers;
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 2.75rem;
            color: $off-white;
            max-width: 26.5rem;
            justify-self: center;
            align-self: center;
        }
        button{
            height: 2.5rem;
            width: 9rem;
            margin: auto;
            color: $off-white;
            border: 1px solid $off-white;
            background-color: transparent;
        }
        button:hover{
            background-color: $off-white;
            color: $dark-violet;
            cursor: pointer;
        }
    }
}

footer{
    background-color: $off-white;
    display: block;
    width: 100%;
    margin: 4rem auto auto auto;
    img.footer-bg{
        position: absolute;
        width: auto;
        overflow: hidden;
    }
    a{
        text-decoration: none;
        color: $grey-blue;
    }
    .footer-header{
        width: 75%;
        height: 7rem;
        margin: auto;
        align-items: center;
        display: grid;
        grid-template-columns: 50% 50%;
        a.footer-logo{
            margin-right: auto;
            justify-self: left;
        }
        .social-icons{
            width: max-content;
            height: max-content;
            justify-self: right;
            a{
                width: max-content;
                height: max-content;
                margin: auto 0.5rem;
            }
        }
    }
    hr{
        width: 75%;
        margin: auto;
        color: $off-white;
    }
    ul.footer-nav{
        margin: auto;
        padding: 5rem 15rem 5rem 0;
        width: auto;
        max-width: 75%;
        font-family: $font-body;
        font-weight: 600;
        font-size: 1rem;
        justify-content: space-between;
        text-align: left;
        line-height: 1.5rem;
        li{
            a.list-title{
                color: $grey-blue;
                text-align: left;
                margin: auto auto 3rem auto;
            }
            ul{
                flex-direction: column;
                margin: 2rem auto auto auto;
                li{
                    padding-left: 0rem;
                    a{
                        color: $grey-violet;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 319px)
    and (max-width: 425px){

    body{
        h1, h2, h3, h4, p{
            max-width: 18rem;
            text-align: center;
            margin: auto;
        }
    }

    header{
        justify-content: space-between;
        position: absolutes;
        .logo{
            left: 1rem;
        }
        button.burger{
            display: block;
            position: fixed;
            top: 1rem;
            right: 1rem;
            width: max-content;
            height: max-content;
            border: none;
            color: black;
            background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#FFF" stroke="#2C2830" stroke-width="1.5" d="M.75.75h30.5v30.5H.75z"/><g fill="#2C2830"><path d="M8 10h16v1.5H8zM8 15h16v1.5H8zM8 20h16v1.5H8z"/></g></g></svg>');
            background-size: cover;
        }
        .menu{
            flex-direction: column;
            display: none;
            top: 4rem;
            right: auto;
            height: 100%;
            color: $off-white;
            text-align: center;
            font-size: 1rem;
            letter-spacing: 4px;
            font-weight: 700;
            background-color: $dark-violet;
            background-image: url('../assets/images/bg-pattern-mobile-nav.svg');
            background-position: bottom;
            background-size: contain;
            background-repeat: no-repeat;
            justify-content: space-evenly;
            ul{
                display: flex;
                flex-direction: column;
                li{
                    margin: 2rem auto;
                    padding-right: 0;
                    a{
                        color: $off-white;
                    }
                }
            }
            .plans-button{
                margin: 1rem auto;
                letter-spacing: 4px;
                font-weight: 700;
                width: 90%;
                height: 5rem;
                font-size: 1rem;
                color: $off-white;
                border-color: $off-white;
            }
        }
        .menuToggle{
            display: block;
            position: fixed;
            z-index: 10;
        }
    }
    
    section.intro{
        padding-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        .intro-text{
            width: 100%;
            grid-row: 2;
            padding-top: 10vh;
            padding-bottom: 10vh;
            h1{
                font-size: 2.5rem;
            }
        }
        img.family-image{
            width: 100%;
            grid-row: 1;
            transform: translate(0,0);
        }
        .intro-svgs{
            position: absolute;
            height: 100%;
            .intro-left{
                padding: 32rem 0;
                img{
                    z-index: 2;
                }
            }
            .intro-right{
                img{
                    padding: 60rem 0;
                    z-index: 2;
                }
            }
        }
        button{
            margin: auto;
            display: block;
        }
    }

    section.process-details{
        padding-top: 10rem;
        text-align: center;
        width: 100%;
        height: max-content;
        ul{
            margin: 4rem auto 4rem auto;
            flex-direction: column;
        }
        .banner{
            grid-template-columns: 100%;
            flex-direction: column;
            width: 100%;
            height: max-content;
            padding: 3rem 0 3rem 0;
            background-image: url(../assets/images/bg-pattern-how-we-work-mobile.svg);
            background-repeat: no-repeat;
            background-position: right;
            h2{
                font-size: 2rem;
                max-width: 16rem;
                line-height: 2.5rem;
                padding-bottom: 2rem;
            }
        }
    }
    footer{
        .footer-bg{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .footer-header{
            padding-top: 5rem;
            grid-template-columns: 100%;
            height: 12rem;
            a.footer-logo{
                margin: auto;
            }
            .social-icons{
                justify-self: center;
                a{
                    img{
                        margin: 1rem auto 1rem auto;
                    }
                }
            }
        }
        ul.footer-nav{
            margin: auto;
            width: 100%;
            max-width: 100%;
            flex-direction: column;
            align-items: center;
            line-height: 2rem;
            font-weight: 600;
            padding: 3rem 0 3rem 0;
            li{
                margin: auto;
                text-align: center;
                padding-left: 0rem;
                a.list-title{
                    padding-bottom: 2rem;
                }
                ul{
                    text-align: center;
                    margin: 2rem auto auto auto;
                }
            }
        }
    }
}

@media screen and (min-width: 426px)
    and (max-width: 725px){

    body{
        h1, h2, h3, h4, p{
            max-width: 18rem;
            text-align: center;
            margin: auto;
        }
    }

    header{
        justify-content: space-between;
        position: absolutes;
        .logo{
            left: 1rem;
        }
        button.burger{
            display: block;
            margin-left: auto;
            align-self: center;
            width: max-content;
            height: max-content;
            border: none;
            color: black;
            background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><g fill="none" fill-rule="evenodd"><path fill="#FFF" stroke="#2C2830" stroke-width="1.5" d="M.75.75h30.5v30.5H.75z"/><g fill="#2C2830"><path d="M8 10h16v1.5H8zM8 15h16v1.5H8zM8 20h16v1.5H8z"/></g></g></svg>');
            background-size: cover;
        }
        nav.menu{
            position: absolute;
            flex-direction: column;
            display: none;
            background-image: url('../assets/images/bg-pattern-mobile-nav.svg')
            ul{
                display: flex;
                flex-direction: column;
            }
            button{
                margin-right: auto;
            }
        }
    }
    
    section.intro{
        padding-top: 4rem;
        width: 100%;
        grid-template-columns: 100%;
        .intro-svgs{
            .intro-left{
                position: inherit;
            }
            .intro-right{
                position: inherit;
            }
        }
        .intro-text{
            width: 100%;
            grid-row: 2;
            padding-top: 10vh;
            padding-bottom: 10vh;
            h1{
                font-size: 2.5rem;
            }
        }
        img.family-image{
            height: auto;
            width: 100%;
            grid-row: 1;
            transform: translate(0,0);
        }
        button{
            margin: auto;
            display: block;
        }
    }

    section.process-details{
        padding-top: 3rem;
        text-align: center;
        width: 100%;
        height: max-content;
        ul{
            flex-direction: column;
        }
        .banner{
            grid-template-columns: 100%;
            flex-direction: column;
            width: 100%;
            height: max-content;
            padding: 3rem 0 3rem 0;
            img.banner-deco{
                height: 100%;
            }
            h2{
                font-size: 2rem;
                max-width: 16rem;
                line-height: 2.5rem;
                padding-bottom: 2rem;
            }
        }
    }
    footer{
        .footer-bg{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .footer-header{
            padding-top: 5rem;
            grid-template-columns: 100%;
            height: 10rem;
            a.footer-logo{
                margin: auto;
            }
        }
        ul.footer-nav{
            margin: auto;
            width: 85%;
            max-width: 100%;
            flex-direction: column;
            align-items: center;
            line-height: 2rem;
            font-weight: 600;
            padding: 3rem 0 3rem 0;
            li{
                margin: auto;
                text-align: center;
                padding-left: 0rem;
                a.list-title{
                    padding-bottom: 2rem;
                }
                ul{
                    text-align: center;
                    margin: 2rem auto auto auto;
                }
            }
        }
    }
}