@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$font-headers: 'DM Serif Display', serif;
$font-body: 'Karla', sans-serif;

$dark-violet: hsl(256, 26%, 20%);
$off-white: hsl(0, 0%, 98%);
$grey-blue: hsl(216, 30%, 68%);
$grey: hsl(0, 0%, 98%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-size: 16px;
    font-family: $font-body;
    line-height: 2rem;
    h1, h2, h3 {
            line-height: 3.5rem;
        }
}

header{
    height: 4rem;
    justify-content: center;
    position: relative;
    .logo{
        position: absolute;
        top: 1.5rem;
        left: 8rem;
    }
    nav{
        width: 100%;
        height: 100%;
        padding-left: 8rem;
        padding-right: 8rem;
        align-items: center;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        ul{
            li{
                padding-right: 2rem;
                a{
                    text-decoration: none;
                }
                a:link{
                    color: $dark-violet;
                }
            }
        }
        .plans-button{
            border: 2px solid $dark-violet;
            width: 8rem;
            height: 2rem;
            background-color: transparent;
            cursor: pointer;
        }
        .plans-button:hover{
            background-color: $dark-violet;
            color: $off-white;
        }
    }
}

ul{ 
    display: flex;
    li{
    list-style: none;
    }
}

section{
    width: 100%;
}

.intro{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    padding: 0;
    background-color: $dark-violet;
    color: $off-white;
    button{
        border: 2px solid $off-white;
        color: $off-white;
        width: 8rem;
        height: 2.5rem;
        background-color: transparent;
    }
    button:hover{
        background-color: $off-white;
        color: $dark-violet;
        cursor: pointer;
    }
    img{
        height: 90%;
        width: auto;
        transform: translateY(12rem);
        margin: auto;
    }
}

.intro-text{
    width: 36rem;
    margin: auto;
    h1{
        font-size: 4rem;
        font-family: $font-headers;
        font-weight: 400;
    }
}

.process-details{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    .details-title{
        font-family: $font-headers;
        font-weight: 400;
        font-size: 2.5rem;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    h3{
        font-family: $font-headers;
        font-weight: 400;
        font-size: 1.5rem;
    }
    ul{
        margin: auto;
    }
    .banner{
        background-color: $dark-violet;
        display: flex;
        justify-content: space-between;
        height: 10rem;
        width: 95%;
        h2{
            font-family: $font-headers;
            font-weight: 400;
            font-size: 2.5rem;
            color: $off-white;
            max-width: 26.5rem;
        }
        button{
            height: 3rem;
            width: 10rem;
            margin: auto;
            color: $off-white;
            border: 2px solid $off-white;
            background-color: transparent;
        }
        button:hover{
            background-color: $off-white;
            color: $dark-violet;
            cursor: pointer;
        }
    }
}

footer{
    background-color: $grey;
    display: block;
    a{
        text-decoration: none;
        color: $grey-blue;
    }
    .footer-header{
        width: 100%;
        height: 5rem;
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    hr{
        width: 60%;
        margin: auto;
        color: $grey;
    }
    ul{
        margin: auto;
        width: 80%;
        font-family: $font-body;
        font-size: 1rem;
        justify-content: space-around;
        text-align: left;
        li{
            color: $grey-blue;
            ul{
                flex-direction: column;
            }
        }
    }
}

@media screen and (min-width: 320px)
    and (max-width: 425px){

    body{
        h1, h2, h3, h4, p{
            max-width: 18rem;
            text-align: center;
            margin: auto;
        }
    }
    
    nav{
        ul{
            visibility: hidden;
        }
        button{
            margin-right: auto;
        }
    }
    
    .intro{
        width: 100%;
        grid-template-columns: 100%;
        .intro-text{
            width: 100%;
            padding-top: 10vh;
            padding-bottom: 10vh;
            h1{
                font-size: 2.5rem;
            }
        }
        img{
            height: auto;
            width: 100%;
            grid-row: 1;
            transform: translate(0,0);
        }
        button{
            margin: auto;
            display: block;
        }
    }

    .process-details{
        width: 100%;
        ul{
            flex-direction: column;
        }
        .banner{
            flex-direction: column;
            width: 100%;
            height: 30vh;
            h2{
                font-size: 2rem;
                max-width: 16rem;
                line-height: 2.5rem;
            }
        }
    }
    footer{
        .footer-header{
            grid-template-columns: 100%;
            height: 15rem;
        }
        ul{
            flex-direction: column;
            li{
                margin: auto;
                text-align: center;
            }
        }
    }
}